#content
  .container
    .col-md-12
      =render 'shared/breadcrumbs'
      .box.text-center
        .row
          .col-sm-10.col-sm-offset-1
            %h1 
              =@product.title
            %p.text-muted
              =@product.advertising_text
            %p.goToDescription
              %a.scroll-to{:href => "#details"} Пролистните вниз, что бы узнать все детали товара
    /
      *** LEFT COLUMN ***
      _________________________________________________________
    .col-md-12
      #productMain.row
        .col-sm-6
          #mainImage
            -if @product.images.any?
              -if @product.images.first.image.url(:thumb_large)
                =image_tag @product.images.first.image.url(:thumb_large), class: 'img-responsive'
              -else
                =image_tag @product.images.first.image.to_s, class: 'img-responsive'

          / Lets switch it off for a while
          / .ribbon.sale
          /   .theribbon SALE
          /   .ribbon-background
          / /.ribbon
          -if @product.created_at < 1.week.ago
            .ribbon.new
              .theribbon НОВИНКА
              .ribbon-background
          #thumbs.row.thumbrow
            -if @product.images.any?
              -@product.images.each do |pic|
                .col-xs-4#thumbrowcols
                  =link_to pic.image.url(:thumb_large), class: 'thumb' do
                    -if pic.image.url(:thumb_small)
                      =image_tag(pic.image.url(:thumb_small), alt: "", class: 'img-responsive')
                    -else
                      =image_tag(pic.image.url, alt: "", class: 'img-responsive')
          / /.ribbon
        .col-sm-6
          .box
            %h3 Опции данного товара
            =form_for :line_item, url: line_items_path(product_id: @product.id), remote: true do |f|
              / remote: true
              -unless @product.basicprice
                .sizes
                  %label{for: 'size'}
                    Выберите объем
                  %br
                  -@productSizes.each_with_index do |volume, index|
                    -volume.each do |item|
                      =link_to "#", class: 'size_input' do
                        =sprintf('%.0f', item.value.to_f)
                        Гб
                      %input#size_s.size-input{:name => "volume", :type => "radio", :value => [item.value, (@getCurrency[index][0].to_f).ceil] }
              -else
                #basicprice.hiddenfield
                  =crb_kurs(@product.basicprice)

              .row
                .col-sm-6
                  %label{for: 'color'}
                    Цвет
                  =select_tag 'color', options_from_collection_for_select(@product.colors, 'id', 'value'), class: 'form-control', id: 'color'
                .col-sm-6        
                  %label{for: 'amount'}
                    Количество
                  %input.form-control{:type => "number", value: 1, size: 5, id: 'amount', name: 'amount'}
              .row
                .col-sm-12
                  .form-group
                    %label{for: 'delivery'}
                      Сроки
                    =select_tag 'delivery', options_from_collection_for_select(Delivery.all.order(coefficient: :asc), 'coefficient', 'value'), class: 'form-control', id: 'delivery'
              -if @product.addservices.any?
                .row
                  .col-sm-9
                    .form-group#addservices.reveal-closed
                      %label{for: 'addservices'}
                        Дополнительные услуги
                      -@servizations.each do |servization|
                        %br
                        =check_box_tag('addservices[]', [servization[0].addservice_id, servization[1], Addservice.find_by(id: servization[0].addservice_id).toparty], false, class: 'addservice_checkbox')
                        =Addservice.find_by(id: servization[0].addservice_id).title
                        -
                        =sprintf('%.2f', servization[1])
                        руб.
                    -if @servizations.count > 5
                      #thediv
                        %a.btn.btn-primary{:href => "#", id: 'load_more_btn', onclick: "toggle(this)"}
                          %i.fa.fa-chevron-down
                          Показать все
                        
              .row
                .col-sm-12
                  Цена:
                  %p.price#priceValue
                    -if @product.basicprice
                      =sprintf('%.2f', initialPrice(@product.basicprice))
                    -elsif
                      =sprintf('%.2f', @initialPrice)
                  руб.
                .col-sm-12
                  .col-sm-4
                    за штуку:
                    %br
                    за тираж:
                    %br
                    доп.услуги:
                  .col-sm-4
                    #priceForOne
                      -if @product.basicprice
                        =sprintf('%.2f', crb_kurs(@product.basicprice))
                      -elsif
                        =sprintf('%.2f', @initialPrice)
                      руб.
                    #priceForAll
                      -if @product.basicprice
                        =sprintf('%.2f', crb_kurs(@product.basicprice))
                      -elsif
                        =sprintf('%.2f', @initialPrice)
                      руб.
                    #priceForAddservices
                      0
                      руб.
                  .col-sm-4
              .row
                .col-sm-12
                  =button_tag(type: 'submit', id: 'add_item_to_cart', class: 'btn-buy btn-primary shopping-cart-btn', "data-target" => "#product-quick-view-modal", "data-toggle" => "modal") do
                    %i.fa.fa-shopping-cart
                    Купить
          
      #details.box
        %p
          -if @product.characteristics.any?
            %h4 
              Характеристики продукта
            .row
              .col-md-2
                Вес:
                %br
                Размер:
                %br
                Материал:
              .col-md-8
                ="#{sprintf('%.0f', @product.characteristics[0].weight)} г" if @product.characteristics[0].weight
                %br
                ="#{sprintf('%.0f', @product.characteristics[0].length)} х #{sprintf('%.0f', @product.characteristics[0].width)} x #{sprintf('%.0f', @product.characteristics[0].thickness)} мм"
                %br
                =@product.material
              .col-md-2
            / Additional characteristics output
            -@product.additionalcharacteristics.each do |addchar|
              .row
                .col-md-2
                  ="#{addchar.name}:"
                .col-md-8
                  =addchar.value
                .col-md-2

          -unless @product.description.empty?
            %h4 Дополнительная информация
            %p=@product.description
          -else
            -if @product.fancy_quote
              %blockquote
                %p
                  %em
                    =@product.fancy_quote
      / #product-social.box.social
      /   %h4 Расскажите о нас друзьям
      /   %p.social
      /     =render 'shared/social'
      -if @product.accompanships.any?
        .row
          =render 'similar_products'
      .row
        =render 'shared/you_may_like'
      .row
        .quick-view-button
          %a.btn.btn-default.btn-sm{"data-target" => "#product-quick-view-modal", "data-toggle" => "modal", :href => "#"} Quick view

#product-quick-view-modal.modal.fade{"aria-hidden" => "false", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        .row.quick-view.product-main
          .col-sm-6
            .quick-view-main-image
              =image_tag @product.images.first.image.url(:thumb_large), class: 'img-responsive'
          
          .col-sm-6
            %h2
              = @product.title
            %p.text-muted.text-small.text-center
            .box
              %form
                .sizes
                  %h3
                    Товар успешно добавлен в корзину
            / /.box
            .quick-view-social
              %h4 Расскажите друзьям о своей покупке!
              %p
                %a.external.facebook{"data-animate-hover" => "pulse", :href => "#"}
                  %i.fa.fa-facebook
                %a.external.gplus{"data-animate-hover" => "pulse", :href => "#"}
                  %i.fa.fa-google-plus
                %a.external.twitter{"data-animate-hover" => "pulse", :href => "#"}
                  %i.fa.fa-twitter
                %a.email{"data-animate-hover" => "pulse", :href => "#"}
                  %i.fa.fa-envelope
  / /.modal-dialog
