!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "5df6b01690836f39", :name => "yandex-verification"}/
    %title Mosflash
    
    = stylesheet_link_tag    'application'
    = stylesheet_link_tag    'https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=latin,cyrillic'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    = render 'layouts/navigation'
    #all
      -flash.each do |name, msg|
        =content_tag(:div, msg, class: "alert alert-#{name}")
      = yield

    =render 'layouts/footer'




    
